.root {
    -fx-background-color: #2b2b2b;
}

.label, .text{
    -fx-text-fill: white;
    -fx-fill:white
}

.player-button {
    -fx-background-color: #3e3f42;
    -fx-text-fill: white;
    -fx-border-color: transparent;
}

.player-button:hover {
    -fx-background-color: #393a3d;
}

.player-toolbar{
    -fx-background-color: #2b2b2b;
}

.text-field {
    -fx-background-color: #3c3f41;
    -fx-text-fill: white;
    -fx-prompt-text-fill: gray;
}

.list-view {
    -fx-background-color: #3c3f41;
    -fx-text-fill: white;
}

.title-bar {
    -fx-fill: #2b2b2b;
}



.menu-bar {
    -fx-background-color: #3c3f41;
}

.menu {
    -fx-text-fill: white;
    -fx-fill: #2b2b2b;
}

.menu-item {
    -fx-text-fill: white;
    -fx-background-color: #2b2b2b;
}



.scroll-pane {
    -fx-background: #2b2b2b;
}

.table-view {
    -fx-background-color: #3c3f41;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-text-fill: white;
}

.table-row-cell:filled:selected, .table-row-cell:filled:focused:selected {
    -fx-background-color: #4e5255;
}

.slider .thumb {
    -fx-background-color: white;
}

.slider .track {
    -fx-background-color: #666;
}

.tool-bar{
    -fx-background-color: #3c3f41;;
}

.list-view {
    -fx-background-color: #272727;
}

.list-cell {
    -fx-background-color: #272727;
    -fx-text-fill: white;
}

.list-cell:filled:selected, .list-cell:filled:selected:hover {
    -fx-background-color: #666;
    -fx-text-fill: white;
}

.list-cell:empty {
    -fx-background-color: #272727;
}

.list-cell:hover {
    -fx-background-color: #333;
}
.main-pane-button {
    -fx-background-color: #272727;
    -fx-text-fill: white;
    -fx-border-color: #404040;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 3, 0.0, 0, 1);
}

.main-pane-button:hover {
    -fx-background-color: #303030;
}

.main-pane-button:pressed {
    -fx-background-color: #1e1e1e;

}